{% extends "progress.html"%}

{% block title %}
Rooms home
{% endblock %}

{% block content %}
    Room data:
    {{ T.name }}
    {{ T.progression }}
    {{ T.room }}
    <div class="container">
      <ul class="progressbar">
          <li id="1">Step 1</li>
          <li id="2">Step 2</li>
          <li id="3">Step 3</li>
          <li id="4">Step 4</li>
          <li id="5">Step 5</li>
          <li id="6">Step 6</li>
          <li id="7">Step 7</li>
          <li id="8">Step 8</li>
          <li id="9">Step 9</li>
          <li id="10">Step 10</li>
      </ul>
    </div>
    <script>
    var progress = {{ T.progression }} / 10;
    for (i = 0; i < progress; i++) {
        document.getElementById(i + 1).classList.add("active")
    }
    </script>

{% endblock content %}
